html {
    position: relative;
    width: 600px;
    min-height: 200px;
}

body {
    overflow: hidden; /*padding-top: 10px;*/
    font-family: arial, sans-serif;
    font-size: 0.6em;
}

label.checkbox-label {
    font-size: 70%;
}

.expansion-button:hover {
    cursor: pointer;
}

#system {
    align-items: center;
    color: red;
    font-size: small;
}

ul {
    list-style: none;
}

.options-icon {
    width: 5%;
} 

ul.playlist li:nth-child(odd) {
    background-color: white;
    margin-left: -30px;
}
  
ul.playlist li:nth-child(even) {
    background-color: lightgray;
    margin-left: -30px;
}

.playlist-menu:hover {
    cursor: pointer;
}